# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv dir
venv/

# Jupyter Notebook
.ipynb_checkpoints

# doit db
.doit.db*

# output dir
output/
.snakemake/

# tensorboard dir
runs/