numpy
# On Windows include cuda support
--extra-index-url https://download.pytorch.org/whl/cu124
# without cuda
# --extra-index-url https://download.pytorch.org/whl/nightly/cpu
torch
bvh
bvhio
glfw
gltflib
tqdm
pygfx
pygame
tensorboard
snakemake